* {
    box-sizing: border-box;
}
html {
font-size: 0.8rem;
height: 100%;
}
chip {
    display: grid;
    grid-template-columns: 1em 3em 3em 1fr;
    grid-template-rows: auto;
}
img {
    min-width: 100%;
}